<div class="navigation" >
    <ul class="portlet nav nav-list">
        <li class="{{:~isActive(0)}}"><a href="../html/00-index.html">Index</a></li>
        <li class="nav-header">Module 1 - Overview</li>
        <li class="{{:~isActive(1.01)}}"><a href="../html/01.01-with-and-without-templates-with-jquery.html" >Why Use Templates?</a></li>
        <li class="{{:~isActive(1.02)}}"><a href="../html/01.02-three-steps.html" >3 Steps to JsRender</a></li>
    </ul>
    <a href="http://twitter.com/hfjallemark"><img class="designby" src="../Content/images/designby.png"/></a>
</div>
