{{for metadata}}
<div class="portlet accordion-group">
    <h3 class="portlet-header">{{:title}}</h3>
    {{if codeExamples && codeExamples.length}}
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#code">Concepts</a>
    </div>
     <div id="code" class="accordion-body collapse {{:showCode ? 'in' : ''}}">
        <div class="accordion-inner content">
            {{for codeExamples}}
            <h4>{{:title}}</h4>
            {{for code}}
            <pre class="prettyprint linenums">{{:~getHtml(#data)}}</pre>
            {{/for}}
            {{/for}}
        </div>
    </div>
    {{/if}}
</div>
{{/for}}